{% extends "base.html" %}
{% block page_content %}
    <div class="weui-panel__hd">Party Detail Info</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Subject</h4>
            <p class="weui-media-box__desc">{{ party.subject }}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Party Time</h4>
            <p class="weui-media-box__desc">{{ party.party_time }}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Party Address</h4>
            <p class="weui-media-box__desc">{{ party.address }}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Party Host</h4>
            <p class="weui-media-box__desc">{{ party.host }}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Create time</h4>
            <p class="weui-media-box__desc">{{ moment(party.create_time).format('YYYY-MM-DD HH:mm:ss') }}</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Participators &nbsp;[&nbsp;<span id="joined_count">{{ party.participators|length }}</span>/<span id="required_count">{{ party.required_count }}</span>&nbsp;]</h4>
            <p class="weui-media-box__desc"><span id="participators">{{ party.participators|join(',') }}</span></p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">Extra Note</h4>
            <p class="weui-media-box__desc">{{ party.note }}</p>
        </div>
    </div>

    <div class="weui-panel__ft">
        <a href="javascript:ajax_get_party_guys();" class="weui-cell weui-cell_access weui-cell_link participators_access">
            <div class="weui-cell__bd">Participators Info</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>


    <div class="weui-btn-area">
        {% if party.joined %}
            <a href="javascript:void (0)" class="weui-btn weui-btn_warn act_btn" data-type="quit">Quit</a>
        {% else %}
            <a href="javascript:void (0)" class="weui-btn weui-btn_primary act_btn" data-type="join">Join</a>
        {% endif %}
        <a href="{{ back_url }}" class="weui-btn weui-btn_default">Back</a>
    </div>


    <script>
        $(function () {
            bind_btn_act();
            set_join_disabled();
        });

        function bind_btn_act() {
            $('.act_btn').bind('click', function () {
                var $this = $(this);
                var action_type = $this.data('type');
                $.ajax({
                    type: 'GET',
                    url: '/party/_join_or_quit',
                    dataType: 'json',
                    data: {'action_type': action_type,
                        'party_id': '{{ party.party_id }}',
                        'a': Math.random()},
                    success: function (data) {
                        if(data.status==0){
                            flash_finish_toast();
                            var res_data = data.data;
                            $('#joined_count').text(res_data.joined_count);
                            $('#participators').text(res_data.participators);
                            if(action_type=='join'){
                                $this.data('type', 'quit').addClass('weui-btn_warn').text('Quit').
                                removeClass('weui-btn_primary');
                            }else if(action_type=='quit'){
                                $this.data('type', 'join').addClass('weui-btn_primary').text('Join').
                                removeClass('weui-btn_warn');
                            }
                        }else{
                            $('#ajax_dialog').show().find('.weui-dialog__bd').text(data.msg)

                        }
                    }
                })
            });
        }

        function set_join_disabled() {
            if(parseInt($('#required_count').text())==parseInt($('#joined_count').text())){
                $('.act_btn[data-type="join"]').addClass('weui-btn_disabled');
            }else{
                $('.act_btn[data-type="join"]').removeClass('weui-btn_disabled');
            }
        }
        function ajax_get_party_guys() {
            $.ajax({
                type: 'GET',
                url: '/party/_get_party_guys',
                dataType: 'json',
                data: {'party_id': '{{ party.party_id }}'},
                success: function (data) {
                    if(data.status != 0){
                        $('#ajax_dialog').show().find('.weui-dialog__bd').text(data.msg)
                    }else{
                        show_guys(data.data)
                    }
                }
            })
        }

        function show_guys(data) {
            var $modal = $('.modal_content');
            $modal.empty();
            if(data.length==0){
                var empty_msg = $('<div/>').text('Sorry, no one has joined.').css({padding: '20px'});
                $modal.append(empty_msg);
            }else{
                for(var i in data){
                    var name = $('<div/>', {'class': 'guy_info'}).text(data[i].name);
                    var gender = $('<div/>', {'class': 'guy_info'}).text(parseInt(data[i].gender)==1 ? 'Male': 'Female');
                    var city = $('<div/>', {'class': 'guy_info'}).text(data[i].city);
                    var head_img = $('<img/>', {src: data[i].head_img_url, 'class': 'participators_head'});
                    var div1 = $('<div/>', {'class': 'weui-flex__item'}).append(head_img);
                    var div2 = $('<div/>', {'class': 'weui-flex__item'}).append(name).append(gender).append(city);
                    var preview_card = $('<div/>', {'class': 'weui-form-preview participator_card weui-flex'}).append(div1).append(div2);
                    $modal.append(preview_card);
                }
            }
            show_my_modal();
        }

    </script>
{% endblock %}
