{% extends "base.html" %}
{% block page_content %}
    <div class="profile_item">
        {% if item in ('name', 'city') %}
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" value="{{ value }}">
                    </div>
                </div>
            </div>
        {% elif item == 'gender' %}
            <div class="weui-cells weui-cells_radio">
                <label class="weui-cell weui-check__label no_margin" for="m_opt">
                    <div class="weui-cell__bd">
                        <p class="no_margin">Male</p>
                    </div>
                    <div class="weui-cell__ft">
                        {% if value == 1 %}
                            <input type="radio" class="weui-check" name="gender" id="m_opt" value="1" checked="checked">
                        {% else %}
                            <input type="radio" class="weui-check" name="gender" id="m_opt" value="1">
                        {% endif %}
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                <label class="weui-cell weui-check__label no_margin" for="f_opt">
                    <div class="weui-cell__bd">
                        <p class="no_margin">Female</p>
                    </div>
                    <div class="weui-cell__ft">
                        {% if value == 0 %}
                            <input type="radio" name="gender" class="weui-check" id="f_opt" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="gender" class="weui-check" id="f_opt" value="0">
                        {% endif %}
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
            </div>
        {% elif item == 'slogan' %}
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="3" maxlength="100" >{{ value }}</textarea>
                        <div class="weui-textarea-counter"><span id="c_count">{{ value|length }}</span>/100</div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="weui-btn-area">
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <a href="{{ url_for('user.user_info') }}" class="weui-btn weui-btn_mini weui-btn_default">Cancel</a>
                </div>
                <div class="weui-flex__item"></div>
                <div class="weui-flex__item text_right">
                    <a href="javascript:void (0)" class="weui-btn weui-btn_mini weui-btn_primary update_act">Save</a>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('.update_act').bind('click', function () {
                    ajax_update_profile()
                });
                $('.weui-textarea').bind('input propertychange', function () {
                    $('#c_count').text($(this).val().length)
                })
            });
            function ajax_update_profile() {
                var item = '{{ item }}';
                var value;
                if(item=='gender'){
                    value = $(".profile_item input[name='gender']:checked").val();
                }else{
                    value = $(".profile_item input,textarea").val();
                }
                $.ajax({
                    url: '/user/_update_profile',
                    dataType: 'json',
                    data: {'item': item,
                        'value': value,
                        'a': Math.random()},
                    success: function (data) {
                        if(data.status==0){
                            flash_finish_toast();
                            window.location = '{{ url_for('user.user_info') }}'
                        }else{
                            $('#ajax_dialog').show().find('.weui-dialog__bd').text(data.msg)
                        }
                    }
                })
            }
        </script>
    </div>
{% endblock %}