.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f8f8f8;
}
.page-ft{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    color: #acacac;
    font-size: 14px;
}

.page-hd{
    padding: 40px;
    text-align: center;
}