#container{
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.page-hd{
    position: fixed;
    z-index: 4999 !important;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: black;
}

.page-bd{
    padding-top: 50px;
}

.page-ft{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    color: #acacac;
    font-size: 14px;
}

#logo_img{
    height: 50px;
    width: 50px;
    padding-left: 15px;
}