{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {{ pagedown.html_head() }}
{% endblock %}
{% block page_content %}
    <form method="post">
        {{ form.hidden_tag()  }}
        <div class="weui-cells__title">Title</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    {{ form.title(class='weui-input') }}
                </div>
            </div>
        </div>

        <div class="weui-cells__title">Content</div>
        <div class="type_post_div">
            {{ form.body(class="weui-textarea post_textarea") }}
        </div>
        <div class="weui-btn-area showToast">
            {{ form.submit(class="weui-btn weui-btn_primary" ) }}
        </div>
    </form>
{% endblock %}