{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {{ pagedown.html_head() }}
{% endblock %}
{% block page_content %}
    <form method="post">
        {{ form.hidden_tag()  }}
        <div class="weui-cells__title">Write blog by markdown</div>

        <div class="type_post_div">
            {{ form.body(class="weui-textarea post_textarea") }}
        </div>

        <div class="weui-btn-area showToast">
            {{ form.submit(class="weui-btn weui-btn_primary" ) }}
        </div>
    </form>
{% endblock %}