{% extends "base.html" %}
{% block page_content %}

    {% for post in posts %}
        <div class="weui-form-preview preview_card">
            <div class="card_body">
                <h3 class="post_title">{{ post.title }}</h3>
                <div class="post_data"><span>{{ post.author.name }}</span><span style="float: right">{{ post.timestamp }}</span></div>
                <div class="post_content">
                    {{ post.body_html|safe}}
                </div>
                <div class="post_foot">Detail</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}