<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Zombie Zone</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weui.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="loadingToast" class="weui-loading_toast" style="display:none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <div class="weui-loading weui-icon_toast"></div>
                    <p class="weui-toast__content">loading</p>
                </div>
            </div>
            <div class="page-hd">
                <span>
                    <img id="logo_img" src="{{ url_for('static', filename='img/zombie_zone.png') }}">
                </span>
            </div>
            <div class="page-bd">
                {% for categry, message in get_flashed_messages(with_categories=True) %}
                    {% if categry == 'warn' %}
                        <div class="weui-toptips weui-toptips_warn flash_tip" style="display: block">{{ message }}</div>
                    {% elif categry == 'info' %}
                        <div class="weui-toptips weui-toptips_info flash_tip" style="display: block">{{ message }}</div>
                    {% elif categry == 'message' %}
                        <div class="dialog">
                            <div class="weui-mask"></div>
                            <div class="weui-dialog">
                                <div class="weui-dialog__bd">{{ message }}</div>
                                <div class="weui-dialog__ft">
                                    <a href="#" class="weui-dialog__btn weui-dialog__btn_primary">OK</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
            <div class="page-ft">
                <p>That's right, I am an asshole absolutely!</p>
            </div>
        <div>

        <script>
            // toast
            $(function(){
                var $toast = $('#loadingToast');
                $('.showToast').on('click', function(){
                    if ($toast.css('display') != 'none') return;
                    $toast.show();
                    setTimeout(function () {
                        $toast.fadeOut(500);
                    }, 2000);
                });
            });
            // tips
            $(function(){
                var $tips = $('.flash_tip');
                if ($tips.is(':visible')) {
                    setTimeout(function (){
                        $tips.remove()
                    }, 2000)
                }
            });
            // dialog
            $(function () {
                $('.weui-dialog__btn').on('click', function(){
                    $(this).parents('.dialog ').fadeOut(200);
                });
            })
        </script>
    </body>
</html>