<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Zombie Zone</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weui.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
            {{ moment.include_moment() }}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div class="my_transparent_mask"></div>
            <div class="top_menu">
                <div class="triangle"></div>
                <div class="menu_div">
                    <ul class="menu_ul no_margin">
                        <li>
                            <a href="{{ url_for('main.add_party') }}">
                                <span><img class="menu_icon" src="{{ url_for('static', filename='img/infinity.png') }}"></span>
                                <span style="float: right">Create Party</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('posts.write_post') }}">
                                <span><img class="menu_icon" src="{{ url_for('static', filename='img/pen.png') }}"></span>
                                <span style="float: right">Write Post</span>
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li class="divider"></li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">
                                    <span><img class="menu_icon" src="{{ url_for('static', filename='img/logout.png') }}"></span>
                                    <span style="float: right">Log out</span>
                                </a>
                            </li>
                            {% if not current_user.confirmed %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('auth.resend_confirm') }}">
                                        <span><img class="menu_icon" src="{{ url_for('static', filename='img/re-confirm.png') }}"></span>
                                        <span style="float: right">Re-Confirm</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="my_mask"></div>
            <div class="my_modal">
                <div class="modal_h">
                    <h4>Participators Info.</h4>
                    <span class="modal_close">×</span>
                </div>
                <div class="modal_content">modal content</div>
            </div>
            <div id="loadingToast" class="weui-loading_toast hide_this">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <div class="weui-loading weui-icon_toast"></div>
                    <p class="weui-toast__content">loading</p>
                </div>
            </div>
            <div id="finishToast" class="weui-loading_toast hide_this">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                    <p class="weui-toast__content">ok</p>
                </div>
            </div>
            <div class="page-hd weui-flex">
                <div class="weui-flex__item">
                    <a href="{{ url_for('main.index') }}">
                        <img id="logo_img" src="{{ url_for('static', filename='img/zombie_zone.png') }}">
                    </a>
                </div>
                <div class="weui-flex__item top_title" >{{ top_title }}</div>
                <div class="weui-flex__item">
                    <a href="javascript:show_add_menu()" style="float: right">
                        <img id="add_img" src="{{ url_for('static', filename='img/add.png') }}" class="weui-tabbar__icon">
                    </a>
                </div>
            </div>
            <div class="page-bd">
                {% for categry, message in get_flashed_messages(with_categories=True) %}
                    {% if categry == 'warn' %}
                        <div class="weui-toptips weui-toptips_warn flash_tip" style="display: block">{{ message }}</div>
                    {% elif categry == 'info' %}
                        <div class="weui-toptips weui-toptips_info flash_tip" style="display: block">{{ message }}</div>
                    {% elif categry == 'message' %}
                        <div id="flash_dialog">
                            <div class="weui-mask"></div>
                            <div class="weui-dialog">
                                <div class="weui-dialog__bd">{{ message }}</div>
                                <div class="weui-dialog__ft">
                                    <a href="#" class="weui-dialog__btn weui-dialog__btn_primary">OK</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="dialog hide_this" id="ajax_dialog">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__bd"></div>
                        <div class="weui-dialog__ft">
                            <a href="#" class="weui-dialog__btn weui-dialog__btn_primary">OK</a>
                        </div>
                    </div>
                </div>

                <div class="dialog hide_this" id="ajax_dialog2">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__bd"></div>
                        <div class="weui-dialog__ft">
                            <a href="javascript:void (0);" class="weui-dialog__btn weui-dialog__btn_default">No</a>
                            <a href="javascript:void (0);" class="weui-dialog__btn weui-dialog__btn_primary">Yes</a>
                        </div>
                    </div>
                </div>
                {% block page_content %}{% endblock %}
            </div>
            <div class="page-ft">Amazing Zone powered by skip</div>
            <div class="weui-tabbar" style="position: fixed">
                <a href="{{ url_for('main.index') }}" class="weui-tabbar__item">
                    <img src="{{ url_for('static', filename='img/church.png') }}" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label no_margin">Parade</p>
                </a>
                <a href="{{ url_for('posts.all_posts') }}" class="weui-tabbar__item">
                    <img src="{{ url_for('static', filename='img/tomb.png') }}" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label no_margin">Tomb</p>
                </a>
                <a href="{{ url_for('user.my_zone') }}" class="weui-tabbar__item">
                    <img src="{{ url_for('static', filename='img/mine.png') }}" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label no_margin">Me</p>
                </a>
            </div>
        <div>

        <script>
            // tips
            $(function(){
                var $tips = $('.flash_tip');
                if ($tips.is(':visible')) {
                    setTimeout(function (){
                        $tips.remove()
                    }, 2000)
                }
            });
            // dialog for flash
            $(function () {
                $('#flash_dialog').find('.weui-dialog__btn').on('click', function(){
                    $(this).parents('#flash_dialog').hide().remove();
                });
            });
            // dialog for ajax
            $(function () {
                $('.dialog').find('.weui-dialog__btn').on('click', function(){
                    $(this).parents('.dialog').hide();
                });
            });

            // click mask hide
            $(function () {
               $('.my_transparent_mask').on('click', function () {
                   $(this).hide();
                   $('.top_menu').hide()
               })
            });

            $(function () {
                $('.modal_close').on('click', function () {
                    $('.my_modal').hide();
                    $('.my_mask').hide()
                })
            });

            $(function () {
                $('.captcha_img').on('click', function () {
                    var $this = $(this);
                    $.ajax({
                         type: 'GET',
                         url: '/auth/_change_captcha',
                         dataType: 'json',
                         success: function (data) {
                             $this.attr("src", "data:image/gif;base64,"+data['data']);
                         }
                    })
                })
            });

            // flash toast
            function flash_finish_toast() {
                var $finishToast = $('#finishToast');
                $finishToast.show();
                setTimeout(function () {
                    $finishToast.fadeOut(500);
                }, 500);
            }
            // show top memu
            function show_add_menu() {
                $('.my_transparent_mask').show();
                $('.top_menu').show()
            }
            // show modal
            function show_my_modal() {
                $('.my_mask').show();
                $('.my_modal').show()
            }
        </script>
    </body>
</html>