{% extends "base.html" %}
{% block page_content %}
    {% for post in posts %}
        <div class="weui-form-preview preview_card">
            <div class="card_body">
                <a href="{{ url_for('main.post_detail', post_id=post.post_id) }}"><h3 class="post_title">{{ post.title }}</h3></a>
                <div class="post_data"><span>{{ post.author.name }}</span><span style="float: right">{{ post.timestamp }}</span></div>
                <div class="post_content">
                    {{ post.body_html|truncate(180, True)|prettify|safe}}
                </div>
            </div>
            <a href="{{ url_for('main.edit_post', post_id=post.post_id) }}"><div class="edit_d">Edit</div></a>
        </div>
    {% endfor %}
{% endblock %}
