{% extends "base.html" %}
{% block page_content %}
    {% if posts %}
        {% for post in posts %}
            <div class="weui-form-preview preview_card" id="{{ post.post_id }}">
                <div class="card_body">
                    <a href="{{ url_for('main.post_detail', post_id=post.post_id) }}"><h3 class="post_title">{{ post.title }}</h3></a>
                    <div class="post_data"><span>{{ post.author.name }}</span><span class="float_right">{{ moment(post.timestamp).fromNow() }}</span></div>
                    <div class="post_content">
                        {{ post.body_html|truncate(180, True)|prettify|safe}}
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default"  href="javascript:void (0)" onclick="confirm_del('{{ post.post_id }}')">Del</a>
                    <a type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="{{ url_for('main.edit_post', post_id=post.post_id) }}">Edit</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <p class="weui-msg__desc">You have not write any post.</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="{{ url_for('user.my_zone') }}" class="weui-btn weui-btn_primary">Back</a>
                </p>
            </div>
        </div>
    {% endif %}
    <script>
        function confirm_del(post_id) {
            var $dialog = $('#ajax_dialog2');
            var msg = 'Are you sure about the delete?';
            $dialog.find('.weui-dialog__bd').text(msg);
            $dialog.find('.weui-dialog__btn_primary').on('click', function(){
                ajax_del_post(post_id);
            });
            $dialog.show()
        }
        function ajax_del_post(post_id) {
            $.ajax({
                type: 'POST',
                url: '/_del_post',
                dataType: 'json',
                data: {'post_id': post_id,
                    'a': Math.random()},
                success: function (data) {
                    if(data.status==0){
                        $("#"+post_id).remove();
                        if($('.preview_card').length==0){
                            window.location="{{ url_for('user.my_zone') }}"
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}
