{% extends "base.html" %}
{% block page_content %}
    <form method="post">
        {{ form.hidden_tag()  }}
        <div class="weui-cells__title">Party Info.</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.subject.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.subject(class="weui-input" ,placeholder="Party theme") }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.party_time.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.party_time(class="weui-input", type="date") }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.address.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.address(class="weui-input" ,placeholder="Party address") }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.required_count.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.required_count(class="weui-input" ,placeholder="Guys needed") }}
                </div>
            </div>
        </div>
        <div class="weui-cells__title">Extra note</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    {{ form.note(class="weui-textarea" ,placeholder="Additional party info...", row="3", maxlength="100") }}
                    <div class="weui-textarea-counter"><span id="info_c_count">0</span>/100</div>
                </div>
            </div>
        </div>
        <div class="weui-btn-area showToast">
            {{ form.submit(class="weui-btn weui-btn_primary" ) }}
        </div>
    </form>
    <script>
        $(function () {
            $('.weui-textarea').bind('input propertychange', function () {
                $('#info_c_count').text($(this).val().length)
            })
        });
    </script>
{% endblock %}

