{% extends "base.html" %}
{% block page_content %}
    {% for guy in participators %}
        <div class="weui-form-preview participator_card weui-flex">
            <div class="weui-flex__item"><img src="{{ guy.head_img_url }}" class="participators_head"></div>
            <div class="weui-flex__item weui-flex">
                <div class="weui-flex__item">{{ guy.name }}</div>
                <div class="weui-flex__item">{{ guy.gender }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
