{% extends "base.html" %}
{% block page_content %}
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">Party Detail Info</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Subject</h4>
                <p class="weui-media-box__desc">{{ party.subject }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Time</h4>
                <p class="weui-media-box__desc">{{ party.party_time }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Address</h4>
                <p class="weui-media-box__desc">{{ party.address }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Host</h4>
                <p class="weui-media-box__desc">{{ party.host.name }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Guys &nbsp;[&nbsp;<span id="joined_count">{{ joined_count }}</span>/{{ party.required_count }}&nbsp;]</h4>
                <p class="weui-media-box__desc"><span id="participators">{{ participators }}</span></p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Extra Note</h4>
                <p class="weui-media-box__desc">{{ party.note }}</p>
            </div>
        </div>
        <div class="weui-panel__ft">
            <div class="weui-btn-area">
                {% if not joined %}
                    <a href="javascript:void (0)" class="weui-btn weui-btn_primary act_btn" data-type="join">Join</a>
                {% else %}
                    <a href="javascript:void (0)" class="weui-btn weui-btn_warn act_btn" data-type="quit">Quit</a>
                {% endif %}
                <a href="{{ url_for('main.index') }}" class="weui-btn weui-btn_default">Back</a>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.act_btn').bind('click', function () {
                var $this = $(this);
                var action_type = $this.data('type');
                $.ajax({
                    type: 'GET',
                    url: '/_join_or_quit',
                    dataType: 'json',
                    data: {'action_type': action_type,
                        'party_id': '{{ party.party_id }}',
                        'a': Math.random()},
                    success: function (data) {
                        flash_finish_toast();
                        if(data.status==0){
                            var res_data = data.data;
                            $('#joined_count').text(res_data.joined_count);
                            $('#participators').text(res_data.participators);
                            if(action_type=='join'){
                                $this.data('type', 'quit').addClass('weui-btn_warn').text('Quit').
                                removeClass('weui-btn_primary');
                            }else if(action_type=='quit'){
                                $this.data('type', 'join').addClass('weui-btn_primary').text('Join').
                                removeClass('weui-btn_warn');
                            }
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
