{% extends "base.html" %}
{% block page_content %}
    {% if party_list %}
        {% for party_info in party_list %}
            <div class="weui-form-preview preview_card" id="{{ party_info.party_id }}">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">Subject</label>
                        <em class="weui-form-preview__value">{{ party_info.subject }}</em>
                    </div>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">Part Time</label>
                        <span class="weui-form-preview__value">{{ party_info.party_time }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">Address</label>
                        <span class="weui-form-preview__value">{{ party_info.address }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">Guys In</label>
                        <span class="weui-form-preview__value">{{ party_info.participant_count }}/{{ party_info.required_count }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">Create Time</label>
                        <span class="weui-form-preview__value">{{ party_info.local_create_time }}</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default"  href="javascript:void (0)" onclick="confirm_action('{{ party_info.party_id }}')">Del</a>
                    <a type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="{{ url_for('main.party_detail', party_id=party_info.party_id, from_url='created_party') }}">Detail</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <p class="weui-msg__desc">You have not created any party.</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="{{ url_for('main.my_zone') }}" class="weui-btn weui-btn_primary">Back</a>
                </p>
            </div>
        </div>
    {% endif %}
    <script>
        function confirm_action(party_id) {
            var $dialog = $('#ajax_dialog2');
            var msg = 'Are you sure about the delete?';
            $dialog.find('.weui-dialog__bd').text(msg);
            $dialog.find('.weui-dialog__btn_primary').on('click', function(){
                ajax_del_party(party_id);
            });
            $dialog.show()
        }
        function ajax_del_party(party_id) {
            $.ajax({
                type: 'POST',
                url: '/_del_party',
                dataType: 'json',
                data: {'party_id': party_id,
                    'a': Math.random()},
                success: function (data) {
                    if(data.status==0){
                        $("#"+party_id).remove();
                        if($('.preview_card').length==0){
                            window.location="{{ url_for('main.my_zone') }}"
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}
