{% extends "base.html" %}
{% block page_content %}
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd party_info_title">Party Detail Info</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Subject</h4>
                <p class="weui-media-box__desc">{{ party.subject }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Time</h4>
                <p class="weui-media-box__desc">{{ party.party_time }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Address</h4>
                <p class="weui-media-box__desc">{{ party.address }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Party Host</h4>
                <p class="weui-media-box__desc">{{ party.host }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Create time</h4>
                <p class="weui-media-box__desc">{{ party.create_time }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Participators &nbsp;[&nbsp;<span id="joined_count">{{ party.participators|length }}</span>/<span id="required_count">{{ party.required_count }}</span>&nbsp;]</h4>
                <p class="weui-media-box__desc"><span id="participators">{{ party.participators|join(',') }}</span></p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Extra Note</h4>
                <p class="weui-media-box__desc">{{ party.note }}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
                <a class="weui-cell weui-cell_access participators_access" href="{{ url_for('main.party_guys', party_id=party.party_id) }}">
                    <div class="weui-cell__bd">
                        <p>Participators Info</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel__ft">
            <div class="weui-btn-area">
                {% if not joined %}
                    <a href="javascript:void (0)" class="weui-btn weui-btn_primary act_btn" data-type="join">Join</a>
                {% else %}
                    <a href="javascript:void (0)" class="weui-btn weui-btn_warn act_btn" data-type="quit">Quit</a>
                {% endif %}
                <a href="{{ back_url }}" class="weui-btn weui-btn_default">Back</a>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            bind_btn_act();
            set_join_disabled();
        });

        function bind_btn_act() {
            $('.act_btn').bind('click', function () {
                var $this = $(this);
                var action_type = $this.data('type');
                $.ajax({
                    type: 'GET',
                    url: '/_join_or_quit',
                    dataType: 'json',
                    data: {'action_type': action_type,
                        'party_id': '{{ party.party_id }}',
                        'a': Math.random()},
                    success: function (data) {
                        if(data.status==0){
                            flash_finish_toast();
                            var res_data = data.data;
                            $('#joined_count').text(res_data.joined_count);
                            $('#participators').text(res_data.participators);
                            if(action_type=='join'){
                                $this.data('type', 'quit').addClass('weui-btn_warn').text('Quit').
                                removeClass('weui-btn_primary');
                            }else if(action_type=='quit'){
                                $this.data('type', 'join').addClass('weui-btn_primary').text('Join').
                                removeClass('weui-btn_warn');
                            }
                        }else{
                            $('#ajax_dialog').show().find('.weui-dialog__bd').text(data.msg)

                        }
                    }
                })
            });
        }

        function set_join_disabled() {
            if(parseInt($('#required_count').text())==parseInt($('#joined_count').text())){
                $('.act_btn[data-type="join"]').addClass('weui-btn_disabled');
            }else{
                $('.act_btn[data-type="join"]').removeClass('weui-btn_disabled');
            }
        }

    </script>
{% endblock %}
