{% extends "base.html" %}
{% block page_content %}
    <form method="post">
        {{ form.hidden_tag()  }}
        <div class="weui-cells__title">Contact way</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.name.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.name(class="weui-input" ,placeholder="Nick name") }}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    {{ form.email.label(class="weui-label") }}
                </div>
                <div class="weui-cell__bd">
                    {{ form.email(class="weui-input" ,placeholder="E-mail address") }}
                </div>
            </div>
        </div>
        <div class="weui-btn-area showToast">
            {{ form.submit(class="weui-btn weui-btn_primary" ) }}
        </div>
    </form>
{% endblock %}

