{% extends "base.html" %}
{% block page_content %}
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">Submit Successfully</h2>
            <p class="weui-msg__desc">Your order has submitted successfully, click <a href="javascript:void(0);">my order</a> to view.</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:history.back();" class="weui-btn weui-btn_primary">ok</a>
            </p>
        </div>
    </div>
{% endblock %}