{% extends "base.html" %}
{% block page_content %}
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="{{ url_for('auth.update_password') }}">
            <div class="weui-cell__bd">
                <div>Update password</div>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>

    <div class="weui-btn-area button-sp-area">
        <a href="{{ url_for('main.my_zone') }}" class="weui-btn weui-btn_primary">Back</a>
    </div>
{% endblock %}